                                    * {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                    
                                    body {
                                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                                        background-color: #fbf8f3;
                                    }
                                    /*WELCOME SECTION Start*/
                                    
                                    #welcomeSection {
                                        /*border: solid black;*/
                                        height: 100vh;
                                        /*width: 100vw;*/
                                        background-color: #fbf8f3;
                                        display: grid;
                                        grid-template-rows: 15% 85%;
                                    }
                                    
                                    header {
                                        width: 80%;
                                        margin: auto;
                                        display: grid;
                                        grid-template-columns: 33.3% 33.3% 33.3%;
                                        /*text-align: center;*/
                                        padding-top: 30px;
                                        font-size: 18px;
                                    }
                                    
                                    header p {
                                        /*padding-left: 100px;*/
                                        /*border: solid black;*/
                                        font-weight: bold;
                                        font-family: 'Arial Narrow Bold', sans-serif;
                                    }
                                    
                                    header nav {
                                        text-align: center;
                                    }
                                    
                                    header nav a {
                                        text-decoration: none;
                                        color: #000;
                                        margin: 0px 15px;
                                    }
                                    
                                    .author a {
                                        font-weight: bold;
                                        text-decoration: none;
                                        margin-left: 40px;
                                        right: 0px;
                                        /*border: solid red;*/
                                    }
                                    
                                    #signIn {
                                        color: #000;
                                    }
                                    
                                    .author {
                                        /*border: solid black;*/
                                        text-align: right;
                                    }
                                    
                                    .button {
                                        padding: 15px;
                                        border-radius: 7px;
                                        background-color: #4d13d1;
                                        color: #fbf8f3;
                                        text-decoration: none;
                                    }
                                    
                                    #Landing {
                                        width: 80%;
                                        margin: auto;
                                        display: grid;
                                        grid-template-columns: 50% 50%;
                                    }
                                    
                                    #LandingInfo {
                                        height: 280px;
                                        display: grid;
                                        grid-row-gap: 0px;
                                        margin-top: 120px;
                                    }
                                    
                                    #stars img {
                                        margin: 0px 0px -2px;
                                    }
                                    
                                    #LandingInfo h1 {
                                        font-size: 45px;
                                    }
                                    
                                    #LandingInfo p {
                                        color: #4f4f4f;
                                    }
                                    
                                    #logo img {
                                        height: 550px;
                                        margin-top: -50px;
                                    }
                                    
                                    #Buttons2 {
                                        margin: 25px 0px;
                                        font-weight: bold;
                                        display: grid;
                                        grid-template-columns: 200px 200px;
                                    }
                                    
                                    #Buttons2 a {
                                        margin-right: 20px;
                                        color: #4d13d1;
                                    }
                                    
                                    #Buttons2 .button {
                                        margin-top: -14px;
                                        color: #fff;
                                    }
                                    
                                    #checkmarks {
                                        display: grid;
                                        grid-template-columns: 50% 50%;
                                    }
                                    
                                    #checkmarks img {
                                        margin-bottom: -6px;
                                    }
                                    
                                    #checkmarks span {
                                        color: #4f4f4f;
                                    }
                                    /*WELCOME SECTION End*/
                                    /*MAIN CONTENT Start*/
                                    
                                    #mainContent {
                                        background-color: #fff;
                                        width: 80%;
                                        margin: auto;
                                        border-radius: 15px;
                                        display: grid;
                                        grid-row-gap: 50px;
                                        padding: 50px 20px;
                                    }
                                    
                                    #header2 span {
                                        color: #4d13d1;
                                        font-weight: bold;
                                    }
                                    
                                    #header2 h2 {
                                        width: 50%;
                                    }
                                    
                                    #features {
                                        display: grid;
                                        grid-template-columns: 30% 30% 30%;
                                        grid-column-gap: 20px;
                                    }
                                    
                                    #features img {
                                        margin-bottom: 10px;
                                    }
                                    
                                    #features h3 {
                                        margin-bottom: 10px;
                                        font-size: 14px;
                                    }
                                    
                                    #features p {
                                        color: #4f4f4f;
                                    }
                                    
                                    #trialInfo {
                                        position: relative;
                                        background-color: #4d13d1;
                                        border-radius: 15px;
                                        color: #fff;
                                        padding: 20px 40px 0px;
                                        display: grid;
                                        grid-template-columns: 45% 45%;
                                        grid-column-gap: 30px;
                                        height: 400px;
                                    }
                                    
                                    #trialInfo .button {
                                        background-color: #fff;
                                        color: #4d13d1;
                                        font-weight: bold;
                                    }
                                    
                                    #trialInfoText {
                                        margin-top: 100px;
                                    }
                                    
                                    #trialInfoText h2 {
                                        margin-bottom: 10px;
                                        font-size: 30px;
                                    }
                                    
                                    #trialInfoText p {
                                        margin-bottom: 30px;
                                    }
                                    
                                    #PageImage {
                                        position: absolute;
                                        /*height: 400px;*/
                                        width: 47%;
                                        bottom: 0px;
                                    }
                                    
                                    #Community {
                                        display: grid;
                                        grid-template-columns: 30% 30% 30%;
                                        grid-column-gap: 3.3%;
                                        justify-content: center;
                                    }
                                    
                                    .response {
                                        border: solid #cfcfcf;
                                        border-radius: 5px;
                                        border-width: 0.2px;
                                        padding: 20px;
                                        display: grid;
                                        grid-row-gap: 10px;
                                    }
                                    
                                    .response a {
                                        border: solid #cfcfcf;
                                        border-radius: 5px;
                                        border-width: 0.2px;
                                        padding: 20px;
                                        margin: 10px auto;
                                        text-decoration: none;
                                        color: #4d13d1;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                    
                                    .name {
                                        display: grid;
                                        grid-template-columns: 25% 75%;
                                        padding-top: 0px;
                                    }
                                    
                                    .name h4 {
                                        padding-top: 7px;
                                        font-weight: bold;
                                        color: #4d13d1;
                                        font-size: 14px;
                                    }
                                    
                                    .name span {
                                        font-size: 14px;
                                    }
                                    /*MAIN CONTENT End*/
                                    /*FOOTER Start*/
                                    
                                    footer {
                                        display: grid;
                                        grid-template-columns: 30% 17.5% 17.5% 17.5% 17.5%;
                                        background-color: #fbf8f3;
                                        height: 200px;
                                        width: 80%;
                                        margin: auto;
                                        padding-top: 50px;
                                    }
                                    
                                    footer p {
                                        color: #4f4f4f;
                                        margin-top: 12px;
                                    }
                                    
                                    footer ul {
                                        list-style-type: none;
                                    }
                                    
                                    footer ul li {
                                        margin-top: 12px;
                                    }
                                    
                                    footer ul a {
                                        text-decoration: none;
                                        color: #4f4f4f;
                                    }
                                    
                                    @media screen and (max-width: 1110px) {
                                        #logo img {
                                            height: 450px;
                                            margin-top: 30px;
                                        }
                                        header nav a {
                                            margin: 0px 5px;
                                        }
                                        .author a {
                                            margin-left: 10px;
                                        }
                                        .name {
                                            grid-template-columns: 30% 70%;
                                        }
                                        #PageImage {
                                            height: 350px;
                                            object-fit: cover;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 906px) {
                                        .name {
                                            grid-template-columns: 100%;
                                        }
                                        #logo img {
                                            height: 400px;
                                            margin-top: -60px;
                                        }
                                        #checkmarks {
                                            grid-template-columns: 100%;
                                            grid-row-gap: 10px;
                                        }
                                        #Buttons2 {
                                            grid-template-columns: 200px;
                                            grid-row-gap: 15px;
                                        }
                                        #LandingInfo {
                                            margin-top: -20px;
                                        }
                                        header {
                                            width: 90%;
                                        }
                                        #Landing {
                                            width: 90%;
                                        }
                                        #mainContent {
                                            width: 90%;
                                        }
                                        footer {
                                            width: 90%;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 805px) {
                                        #logo img {
                                            height: 350px;
                                            margin-top: -60px;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 705px) {
                                        header {
                                            grid-template-columns: 100%;
                                            grid-row-gap: 30px;
                                        }
                                        #header2 h2 {
                                            width: 90%;
                                        }
                                        #welcomeSection {
                                            height: 950px;
                                        }
                                        .author {
                                            text-align: left;
                                        }
                                        .author a {
                                            margin-left: 0px;
                                        }
                                        header nav {
                                            text-align: left;
                                        }
                                        header nav a {
                                            margin: 0px 0px;
                                        }
                                        #Landing {
                                            grid-template-columns: 100%;
                                            grid-template-rows: 400px 350px;
                                        }
                                        #logo {
                                            grid-row-start: 1;
                                            justify-self: center;
                                            height: 300px;
                                            margin-top: 40px;
                                        }
                                        #LandingInfo {
                                            margin-top: -40px;
                                        }
                                        #trialInfo {
                                            grid-template-columns: 100%;
                                            height: 600px;
                                        }
                                        #PageImage {
                                            height: 350px;
                                            object-fit: cover;
                                            width: 80%;
                                            right: 10%;
                                            left: 10%;
                                        }
                                        #trialInfoText {
                                            margin-top: 30px;
                                            width: 80%;
                                            position: absolute;
                                            right: 10%;
                                            left: 10%;
                                        }
                                        footer {
                                            grid-template-columns: 100%;
                                            grid-row-gap: 20px;
                                            height: 680px;
                                            padding-top: 50px;
                                            padding-bottom: 50px;
                                        }
                                        #Community {
                                            grid-template-columns: 100%;
                                            grid-row-gap: 10px;
                                        }
                                        .name {
                                            grid-template-columns: 60px 300px;
                                        }
                                        #mainContent {
                                            width: 90%;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 508px) {
                                        #features {
                                            grid-template-columns: 100%;
                                            grid-row-gap: 20px;
                                        }
                                        #features p {
                                            width: 280px;
                                        }
                                        #header2 h2 {
                                            width: 280px;
                                        }
                                        #trialInfo {
                                            width: 70%;
                                            margin: auto;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 450px) {
                                        #trialInfo {
                                            width: 60%;
                                            height: 570px;
                                        }
                                        #PageImage {
                                            height: 250px;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 414px) {
                                        #trialInfo {
                                            width: 200px;
                                        }
                                        .response {
                                            width: 320px;
                                        }
                                        .response p {
                                            width: 310px;
                                        }
                                        .response a {
                                            width: 150px;
                                            margin-left: 70px;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 360px) {
                                        #trialInfo {
                                            width: 160px;
                                        }
                                        .response {
                                            width: 275px;
                                        }
                                        .response p {
                                            width: 280px;
                                        }
                                        .response a {
                                            width: 150px;
                                            margin-left: 45px;
                                        }
                                        #mainContent {
                                            margin-top: 70px;
                                        }
                                    }